# App Configuration
APP_URL=https://ais-dev-ojzfwpo4x3bxdpvos6rdv3-135921891883.us-west1.run.app
SHARED_APP_URL=https://ais-pre-ojzfwpo4x3bxdpvos6rdv3-135921891883.us-west1.run.app

# Gemini API
GEMINI_API_KEY=

# Tradovate API (OAuth)
TRADOVATE_CLIENT_ID=
TRADOVATE_CLIENT_SECRET=

# Firebase Configuration (Automatically managed by AI Studio if using set_up_firebase)
# These are usually in firebase-applet-config.json
